.body{
    background-color: #441752;
}
h1, p{
    color: white;
}

.book1 h2{
    color: #493D9E;
    font-size: xx-large;
}

.book2 h2{
    color: #0D7C66;
    font-size: xx-large;
}

.book3 h2{
    color: #FF3EA5;
    font-size: xx-large;
}

.book2 p{
    color: #41B3A2;
    font-size: medium;
}

.book3 p{
    color: #FF7ED4;
    font-size: medium;
}

/* NEW UPDATES: */

/* 1. DIRECT DESCENDANT SELECTOR = hanya 1 tingkat elemen p dibawahnya class saja yang berubah elemen p yang lainnya tidak berubah */
.book1 > p{
    color: #FF3EA5;
    font-size: medium;
}
/* 2. AJDACENT SELECTOR = elemen button yang dikenakan style hanya button setelah elemen A/Link */
A + button {
    background-color: yellow;
}
/* 3. ATTRIBUTE SELECTOR = lebih fleksibel dalam melakukan style terhadap attribute */
input[type="text"]{
    color: red;
}
input[type="password"]{
    color: blue;
}
input[type*="button"]{
    background-color: yellow;
}